<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to cha-chat!</title>
  <style>
  .thread {
    display: none;
  }
  </style>
</head>
<body>
  <form class="name-form">
    Your name please:
    <input type="text" class="name-input">
    <button>Join</button>
  </form>

  <div class="thread">
    <ul class="messages">
      <%-
      messages.map(function(msg) {
        return '<li><strong>'+msg.username+':</strong> '+msg.message+' <span>'+new Date(msg.sent_at).toLocaleTimeString()+'</span></li>';
      }).join('');
      %>
    </ul>
    <form class="message-form">
      <input type="text" class="message-input">
      <button>Send</button>
    </form>
  </div>

  <!-- QUESTION: where does this come from?? -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>